{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Welcome{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
</div>

<div class="nav nav-tabs">
    {{ wtf.quick_form(form) }}
</div>

<div class="nav nav-tabs">
    {% if userInfo and userInfo.count() > 0 %}
    <table class="table table-hover">
        <tr>
            <td>rank</td>
            <td>name</td>
            <td>nickname</td>
            <td>telphone</td>
            <td>socre</td>
            <td></td>
        </tr>
        {% for item in userInfo %}
        <tr>
            <form method="post" action="{{ url_for('vote') }}">
                <td>
                    {% if page %}
                    {{ (page['curr'] - 1) * page['pre'] + loop.index }}
                    {% else %}
                    {{ loop.index }}
                    {% endif %}
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.nickname }}</td>
                <td>{{ item.telphone }}</td>
                <td>{{ item.score }}</td>
                <td><input type="hidden" name="telphone"
                           value="{{ item.telphone }}"><input type="submit"
                                                              value="vote" }>
                </td>
            </form>
        </tr>
        {% endfor %}
    </table>

    {% else %}
    <h1>No Data</h1>
    {% endif %}
</div>

<div>
    {% if page and page['total'] > 0 %}
    <
    {% for i in range(page['total']) %}
    {% if i + 1 == page['curr'] %}
    {{ i + 1 }}
    {% else %}
    <a href="{{ url_for('index', page= i + 1 ) }}">{{ i + 1 }}</a>
    {% endif %}
    {% if i != page['total'] - 1 %} | {% endif %}
    {% endfor %}
    >
    {% endif %}
</div>

{% endblock %}
