{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Welcome{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
</div>
{% if role == 'User' %}
<div class="nav nav-tabs">
    <h3>Welcome to write a message.</h3>
    {{ wtf.quick_form(form) }}
</div>
{% else %}
<div class="nav nav-tabs">
    <h3>As a tourist, you can only read message.</h3>
    <h3>Please login to write a message!</h3>
</div>
{% endif %}

<div class="nav nav-tabs">
    {% if msgBoard > 0 %}
    <div class="nav nav-tabs">
        <ul>
            {% for item in msgBoard %}
            <li>
                <font size="5" face="arial" color="blue">
                    {{ item.nick_name }}
                </font>
                <font size="3" face="arial" color="black">
                    commented at {{ item.time }}:<br />
                </font>
            <font size="4" face="arial" color="green">
                {{ item.message }}
            </font>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% else %}
    <h1>No Data</h1>
    {% endif %}
</div>

<div>
    {% if page and page['total'] > 0 %}
    <
    {% for i in range(page['total']) %}
    {% if i + 1 == page['curr'] %}
    {{ i + 1 }}
    {% else %}
    <a href="{{ url_for('msgboard', page= i + 1 ) }}">{{ i + 1 }}</a>
    {% endif %}
    {% if i != page['total'] - 1 %} | {% endif %}
    {% endfor %}
    >
    {% endif %}
</div>

{% endblock %}
